input{
    appearance: none;
    outline: none;
}
.messanger{
display: grid;
grid-template-columns: 2fr 10fr;
}

.messanger_items{
padding: 10px;
}
.messanger_items div a{
    text-decoration: none;
    color:#fff;
}
.messages{
padding:10px;
}
.inputError{
    border: solid red 3px;
}

.errorMessage{
    color: red;
}

