.header{
    display: flex;
    grid-area: h;
    background-color: rgb(112, 208, 232);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
  }
  .header img{
    width: 100px;
  }
  .loginBlock{
    margin-right: 20px;
  }
  .loginBlock a{
      color: white;
      text-decoration: none;
  }