.app-wrapper {
  
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content{
    display: flex;
    flex-direction: column;
    color:#fff;
    grid-area: c;
    background-image: url('https://krot.info/uploads/posts/2022-02/1644832423_15-krot-info-p-foni-dlya-saitov-15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px 20px 10px 20px ;
    border-radius: 15px;
}

