.nav{
    grid-area: n;
    background-color: rgb(148, 148, 254);
    padding:10px 40px 10px 30px;
    border-radius: 15px;
  }
  .nav a{
    text-decoration: none;
    color: #fff;

  }
.item{
  margin-bottom: 10px;
  cursor: pointer;
}

.item img{
  width: 20px;
  padding-right: 5px;
  vertical-align: top;
}
.item:hover{
  background-color: rgb(196, 196, 255);
  border-radius: 5px;
  
}
.nav a.active{
  color:rgb(0, 0, 0);
  font-weight: 500;
  border-radius: 5px;
}


